
/* Mobile view */
@media (max-width: 768px) and (min-width: 320px) {

}

/* Desktop view 1920x1080 */
@media (min-width: 769px) and (max-width: 1920px) {
    #aboutTitle{
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
        text-align: center;
    }

    .aboutContent{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
        width:90%;
        padding-left: 5em;
        padding-top: 3em;

    }

    .aboutMe{
        display:grid;
        grid-template-columns: 1fr;
    
    }
    
    #aboutMe-Section{
    }

    .personal-details {
        border: 2px solid;
        border-radius: 2%;
        padding: 2rem;
    }

    #PersonalTitle {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
        text-align: center;
    }

    #details{
        display: grid;
        grid-template-columns: 1fr 1fr;


    }

    .personal-details strong{
        width:50%;
        text-align: center;
        padding: 1rem;
    }


}

/* Large Desktop view 2560x1440 */
@media (min-width: 1921px) and (max-width: 2560px) {  

    
    
}