
/* Mobile view */
@media (max-width: 768px) and (min-width: 320px) {
    #about{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        background: var(--background-gradient);
        min-height: 100vh;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
    }

    #aboutTitle{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        text-align: center;
    }

    .aboutContent{
        gap: 3rem;
        width:100%;
        padding-left: 1em;
        padding-top: 1em;

    }

    .aboutMe{
        display:grid;
        grid-template-columns: 1fr;
        justify-items: center;
    
    }
    
    #aboutMe-Section{
        font-size: 1em;
        line-height: 1.6;
        text-align: justify;
        text-justify: inter-word;
        color: var(--text-color);
        max-width: 600px;
        margin-bottom: 2rem;
    }

}

/* Desktop view 1920x1080 */
@media (min-width: 769px) and (max-width: 1920px) {

    #about{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        background: var(--background-gradient);
        min-height: 100vh;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
    }


    #aboutTitle{
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
        text-align: center;
    }

    .aboutContent{
        gap: 5rem;
        width:100%;
        text-align: center;

    }

    .aboutMe{
        display:grid;
        grid-template-columns: 1fr;
        justify-items: center;
    
    }
    
    #aboutMe-Section{
        font-size: 1.2rem;
        line-height: 1.8;
        margin-top: 1rem;
        text-justify: inter-word;
        color: var(--text-color);
        max-width: 800px;
        margin-bottom: 2rem;
    }


}

/* Large Desktop view 2560x1440 */
@media (min-width: 1921px) and (max-width: 2560px) {  
    #about{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem;
        background: var(--background-gradient);
        min-height: 100vh;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
    }

    #aboutTitle{
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 1rem;
        text-align: center;
    }

    .aboutContent{
        gap: 5rem;
        width:100%;
        text-align: center;
    }

    .aboutMe{
        display:grid;
        grid-template-columns: 1fr;
        justify-items: center;
    
    }
    
    #aboutMe-Section{
        font-size: 1.5rem;
        line-height: 1.8;
       margin-top: 1rem;
        text-justify: inter-word;
        color: var(--text-color);
        max-width: 1000px;
        margin-bottom: 2rem;
    }

    
    
}